/**
*
* * All variables for project can be found in this file
*
*/

// * --------| Color variables |-------- *
:root {
// Color variables
--color-primary: #50bfa6;
--color-primary-dark: #297060;
--color-primary-rgb: 80, 191, 166; 
--color-primary-light: #bce2d7;
--color-primary-light-rgb: 	188, 226, 215; 

--color-secondary: #2a3640;
--color-secondary-rgb: 42, 54, 64;
--color-secondary-light: #42535a;
--color-secondary-light-rgb: 66, 83, 90;
--color-secondary-light-2: #373b42;
--color-secondary-light-2-rgb: 55, 59, 66;

--color-white: #f4f4f5;
--color-white-rgb: 244, 244, 245;

--color-grey: #b2b2b2;
--color-grey-light: #f1f1f1;
--color-grey-dark: #939393;
--color-grey-dark-2: #363636;
--color-grey-dark-1: #636363;

--color-black-1: #231f20;
--color-black: #321f20;
--color-black-rgb: 50, 31, 32;
--color-black-light: #252525;
--color-black-light-rgb: 37, 37, 37;

// Font variables
--font-size-sm: 1.2rem;
--font-size-rg: 1.4rem;
--font-size-lg: 2.5rem;
--font-size-xl: 4.5rem;
}







